<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Livraria Local</title>{% endblock %}
</head>
{% block content %} <h1>Livraria Local</h1>
  <p>Welcome to LocalLibrary, a website developed by <em>  Network</em>!</p>
{% endblock %}
<body>
{% block siderbar %}<ul>
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="">All books</a></li>
          <li><a href="">All authors</a></li>
           </ul>
{% endblock %}

</body>
</html>